.button {
  display: inline-block;
  background-color: $clr-pink;
  padding: 0.5rem 3rem;
  border-radius: 1.5rem;
  text-decoration: none;
  color: #fff;
  margin: 2rem 0;
  font-weight: 700;
  font-size: 0.8rem;
  &:hover {
    background-color: darken($clr-pink, 10%);
    box-shadow: 0 2px 8px $clr-pink;
  }
}

.button--card {
  margin: 1rem 0 0;
}

.button--nav {
  margin: 0;
  color: #000;
  background: #fff;
  font-size: 0.7rem;
  padding: 0.3rem 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  &:hover {
    background-color: darken($clr-pink, 10%);
    color: #fff;
    box-shadow: 0 2px 8px $clr-pink;
  }
}
