.footer {
  background-color: $clr-dark-cyan;
  position: relative;
  top: -4rem;
  z-index: -1;
}






.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
