.nav {
  position: fixed;
  top: 0;
  padding: 2em 1em;
  display: flex;
  justify-content: space-between;
  background: none;
  width: 100%;
}

.nav__logo {
  width: 120px;
  & img {
    width: 100%;
  }
}
