.site-header {
  text-align: center;
  padding: 8rem 5% 2rem 5%;
  background-color: $clr-pale-cyan;
  background-image: url(.././images/bg-hero-mobile.svg);
  background-size: cover;
  & img {
    width: 100%;
  }
}

.site-header__section {
  padding: 1rem;
}

@media only screen and (min-width: 550px) {
  .site-header {
    padding: 8rem 15% 2rem 15%;
  }
}

@media only screen and (min-width: 900px) {
  .site-header {
    padding: 8rem 3rem 2rem;
    display: flex;
    align-items: center;
  }

  .site-header__section {
    text-align: left;
  }
}
