.site-header {
  text-align: center;
  padding: 8em 5% 2em 5%;
  background-color: $clr-pale-cyan;
  background-image: url(.././images/bg-hero-mobile.svg);
  background-size: cover;
}

.site-header__section {
  padding: 1em;
}
