body {
  font-family: $font-body;
  font-weight: $fw-normal;
  line-height: 1.6;
}

h1 {
  font-family: $font-head;
  font-size: 1.5em;
  font-weight: $fw-semi;
  margin-bottom: 2rem;
}

h2 {
  font-family: $font-head;
  font-size: 1.3em;
  font-weight: $fw-semi;
  margin-bottom: 1rem;
}
