// Colors
$clr-pink: hsl(322, 100%, 66%);
$clr-pale-cyan: rgb(235, 251, 255);
$clr-dark-cyan: hsl(192, 100%, 9%);
$clr-gray-blue: hsl(208, 11%, 55%);

// Font families
$font-head: ("Poppins"), sans-serif;
$font-body: ("Open Sans"), sans-serif;

// Font weights
$fw-normal: 400;
$fw-semi: 600;
$fw-bold: 700;
